.first-view {
    display: flex;
    flex-wrap: nowrap;
    position: relative;
    @include tab {
        height: 597px;
        overflow: hidden;
        // min-width: 550px;
    }
    
}
.woman-image {
    width: 54%; 
}

.image-vw {
    @include tab {
        width: 100vw;
        position: absolute;
    }
}


.catch {
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    justify-content: center;
    align-content: center;
    align-items: center;
    @include tab {
        position: absolute;
        top: 40%;
        width: 100%;
        flex-direction: column-reverse;
        // background-image: url(../img/Blond\ woman\ with\ long\ curly\ beautiful\ hair.png);
        // background-size: cover;
        color: white;
        z-index: 10;


    }
    h1 {
        font-size: 38px;
        font-family: ヒラギノ明朝 Pro;
        letter-spacing: 3.8px;
        text-align: left;
        @include tab {
            font-size: 23px;
            letter-spacing: 2.3px;
            text-shadow: 0px 3px 16px #000000;
            
        }
    }
    p {
        font-size: 38px;
        font-family: Zapfino;
        letter-spacing: 3.8px;
        margin-top: 85px;
        @include tab {
            height: 95px;
            line-height: 95px;
            letter-spacing: 2.8px;
            margin: 0;
            text-shadow: 0px 3px 16px #000000;
    
        }
    }
}